/.svn/
/config/
/data/.svn/
/data/char/.svn/
/data/char/barack/.svn/
/data/char/boris/.svn/
/data/char/keyframes/.svn/
/data/char/samuel/.svn/
/data/char/trixi/.svn/
/data/char/tux/.svn/
/data/courses/.svn/
/data/courses/bumpy_ride/.svn/
/data/courses/bunny_hill/.svn/
/data/courses/challenge_one/.svn/
/data/courses/chinese_wall/.svn/
/data/courses/chragis_gagiwaetter/.svn/
/data/courses/course/.svn/
/data/courses/downhill_fear/.svn/
/data/courses/explore_mountains/.svn/
/data/courses/frozen_lakes/.svn/
/data/courses/frozen_river/.svn/
/data/courses/hippo_run/.svn/
/data/courses/holygrail/.svn/
/data/courses/in_search_of_vodka/.svn/
/data/courses/keep_country_tidy/.svn/
/data/courses/milos_castle/.svn/
/data/courses/path_of_daggers/.svn/
/data/courses/penguins_cant_fly/.svn/
/data/courses/quiet_river/.svn/
/data/courses/secret_valleys/.svn/
/data/courses/this_means_something/.svn/
/data/courses/tux_at_home/.svn/
/data/courses/twisty_slope/.svn/
/data/courses/wild_mountains/.svn/
/data/develop/.svn/
/data/env/.svn/
/data/env/etr/.svn/
/data/env/etr/cloudy/.svn/
/data/env/etr/evening/.svn/
/data/env/etr/night/.svn/
/data/env/etr/sunny/.svn/
/data/env/tuxracer/.svn/
/data/env/tuxracer/cloudy/.svn/
/data/env/tuxracer/evening/.svn/
/data/env/tuxracer/night/.svn/
/data/env/tuxracer/sunny/.svn/
/data/fonts/.svn/
/data/music/.svn/
/data/objects/.svn/
/data/players/.svn/
/data/screenshots/
/data/sounds/.svn/
/data/terrains/.svn/
/data/textures/.svn/
/data/translations/.svn/
/doc/.svn/
